.container{
  display: grid;
  grid-template-columns: 12rem auto 10rem;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
}

@media screen and (max-width: 1200px)
{
.container {
    width: 95%;
    grid-template-columns: 7rem auto 10rem;
}
}

@media screen and (max-width: 768px)
{
.container {
    width: 100%;
    grid-template-columns: 1fr;
}
}