.sideBar {
    display: flex;
    flex-direction: column;
    box-shadow:  0 2rem 3rem rgba(132, 139, 200, 0.18);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}    
.logoimg{
    width: 28px;
}
.logoimg img{
    width: 100%;
}
.sideBar .sideBarOptions{
    display: flex;
    align-items: center;
    color: #7d8da1;
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
    cursor:     pointer;
}
.sideBar .sideBarOptions:hover{
    margin-left: 3rem;
    color: #195bce;
}

.subval{

    background-color: #ff0060;
    padding: 2px 6px;
    color: white;
    font-size: 11px;
    border-radius: 0.4rem;  
}
.active{
    background-color: rgba(132, 139, 200, 0.18);
    padding-left: 2rem;
}
.active::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 40%;
    left: 0px;
    background-color: #195bce;
    
}
.toggle .logo{
    display: flex;
    height: 5vh;
    align-items: center;
}
.toggle .togglebtn{
    display: none;
}
.toggle .togglebtncross{
    display: none;
}
@media(max-width:1200px) {
    .sideBarOptions p {
        display: none;  
    }
}

@media(max-width:768px) {
    .toggle .togglebtn{
        display: block;
    }
}